.cardList {
  padding-top: 25px ;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cardImage img {
  height: 75%;
  width: 75%;
  object-fit: cover;
}

.modalButton {
  background: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imageModal {
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  // object-fit: contain;

  img{
    width: 50%;
    height: 50%;
  }
}
.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3, h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.modalView {
  // background: lightgrey;
}
